body{
  margin-left: 150px;
  margin-right: 150px;
}
.navbar{
  display: flex;
  justify-content:space-around;
  padding: 16 px;
  
 
 }

  .logo_title,.navbar ul li{color:rgb(96, 226, 243);}
 .navbar ul{display: flex;
     align-items:center;
     list-style-type:none;

 }
 .navbar ul li a {
   color: grey;
     padding: 12px;
     margin: 06px;
 }
 .navbar ul li a:hover{
     color:rgb(96, 226, 243);
     border: radius 4px; ;
 }
 .navbar ul li a {
   color: rgb(43, 44, 42);  
 }
span{
  color: rgb(96, 226, 243);
}
 
 .section2{
   display: flex;
   justify-content: space-around;
   color: gray;
   margin-bottom: 40px;

 }
 .section2 p{
  width: 375px;
  height: 82px;
 }
 .section3{
   display: flex;
   justify-content: space-evenly;
 }
 .logo-docplanner{
   height: 35px;
 }
 

.carte1{
 background: #00b39b;
 color: white;
 height: 300px;
 width: 255px;
}
.carte2{
  background-color:#60b3eb;
  color: white;
  height: 300px;
  width: 255px;
}
.drop2{
  background: #60b3eb;
  color: white;
}





.carte3{
 background-color: rgb(13, 13, 14);
 color: wheat;
 height: 300px;
 width: 255px;
}
.dropdowndiv{
 display: flex;
flex-direction: column;
color: rgb(247, 240, 240);

}
/*dropdow css*/
.dropbtn {
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
 background: #00b39b;

}

.dropdown {
 position: relative;
 display: inline-block;
 color: white;
 
}

.dropdown-content {
  color: rgb(19, 18, 18);
 display: none;
 position: absolute;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px white
 

}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
 display: block;
}
.drop{background: black;
  color: white;
}
.drop4{background: black;
  color: white;
}
.dro2{color: blanchedalmond;}
.carte1{ 
  margin: left 600px;
  border-radius: 40px ;
  margin-top: 10px;
  height: 300px;
  width: 255px;}
  .carte2{

      margin: left 600px;
      border-radius: 40px ;
      margin-top: 10px;
      height: 300px;
      width: 255px;
  }
  .carte3{ 
    margin: left 600px;
    border-radius: 40px ;
    margin-top: 10px;
    height: 300px;
    width: 255px;}
img{
  margin: left 600px;
  border-radius: 40px ;
  margin-top: 10px;}

.section4{
  display: flex;
  justify-content: flex-start;
}

.part{
  width:60%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
 
  margin-left:430px;
}
.section5{
  display: flex;
  justify-content: space-evenly;
  background: #e5faf8;
  
padding: 0 20px;
  margin-left: -150px;
  margin-right: -150px;
  margin-top:20px ;
}
.C1 h2 {
  text-align: center;
  font-weight: 300;
  letter-spacing: -.3px;
  color: #00b39b;
  font-size: 50px;
  padding:20 70px;
  
}
.C1 p {
  text-align: center;

  max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
  
}
.c1 img{
  margin: left 600px;
 
  margin-top: 10px;}

.C2{
  display: flex;
  justify-content: space-evenly;

}

.section5 h2 {color:rgb(86, 196, 204)}


  .partie1{
    margin-right: 30px;
    margin-top: 30px;
  }

 .partie2{
    margin-right: 30px;
    margin-top: 10px;
   
  }
 
  .C2-1{

    background-color: white;
    border-radius: 5px;
    width: 230px;
    height: 270px;  text-align: center;
    margin-bottom: 15px;
    padding-top: 20px;
    
  }
  .C2-2{
    
    background-color: white;
    border-radius: 5px;
    width: 230px;
    height: 270px;  text-align: center;
    margin-bottom: 15px;
    padding-top: 20px;
  }

 .A{
  margin-left: 20px;
  display: flex;
   justify-content: center;
   text-align: center;
   color: #00C3A5;
   margin-top: 80px ;
 }
 .B{margin-left: 20px;
   color: gray;
    font-size: 14px;
     display: flex; 
     justify-content: center; 
     text-align: center; 
     margin: 30px ;
      margin-block-end: 80px;}
.image{
  width: 100%;
   display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    justify-content: center; 
    margin: 30px;
}
.imageA{
  Width: 100%;
   display: flex;
   flex-direction: row; 
   justify-content: space-between; 
   justify-content: center;
    margin: 30px;
}
.imageB{
  Width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  justify-content: center;
   margin: 30px;

}
.img1{
  width: 25%; 
  height: 300px;
  background-color: rgba(252, 252, 252, 0.979); 
  display: flex; 
  flex-direction: column; 
  margin: 30px;
  opacity: 50px;
}
.img2{
  width: 250px; height: 300px; 
  background-color: rgba(252, 252, 252, 0.979); 
  display: flex;
  flex-direction: column;  
  margin: 30px;
  opacity: 50px;
}

.img3{
  width: 250px; height: 300px; 
  background-color: rgba(252, 252, 252, 0.979); 
  display: flex;
  flex-direction: column;  
  margin: 30px;
  opacity: 50px;

}

.boutton {width: 100%;
   display: flex; 
   align-items: center;
    justify-content: space-around;
  }
  .img1 p{color: gray;}
  .img2 p{color:gray}
  .par
  {margin: 20px;
     text-align: center;
      font-size: 25px; 
      font-style: normal;
       font-weight: initial;
      }
.seeall
 {background-color: rgba(8, 115, 255, 0.911); 
  color: white; 
  padding: 15px 30px;
}
.SEE 
{background-color: rgba(8, 115, 255, 0.911); 
  color: white; 
  padding: 5px 15px;
}
.footer-div {color: gray;}




